body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.propietario,p {
  text-align: right;
}
.bienvenido {
  overflow: auto; 
}

#abasto {
  float: left; 
  text-align: left; 
}

#username {
  float: right;
  text-align: right; 
  text-transform: capitalize;
}

.descripcion{
  text-align:center;
}